common --java_language_version=17
common --java_runtime_version=remotejdk_17
common --tool_java_language_version=17
common --tool_java_runtime_version=remotejdk_17

build --strategy=PalantirJavaFormat=worker,local
build --worker_max_instances=PalantirJavaFormat=1

build --nojava_header_compilation
build --experimental_strict_java_deps=error
test --explicit_java_test_deps
